<%- include('partials/header'); -%>
<h1>Welcom to Speak page... </h1>

<p>using for loop : </p>
<% for(var i = 0; i < animalArr.length; i++) { %>
<li>
    <%= animalArr[i].name %> : <strong><%= animalArr[i].sound %></strong>
</li>
<% } %>

<hr>
<p>Uning forEach loop : </p>
<% animalArr.forEach((animal) => { %>
<li>
    <%= animal.name %> : <strong><%= animal.sound %></strong>
</li>
<% }) %>
<%- include('partials/footer'); -%>